node_modules/
dist/
build/
.vs/
*.suo
*.user
*.userprefs
bin/
obj/
*.db
*.log
.env
appsettings.Development.json
appsettings.Production.json
.dart_tool/
.idea/
.flutter-plugins-dependencies
*.iml
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
